<div class="pull-left" id="sidenav" *ngIf="show" [@sidebarState]>
  <div *ngIf="count > 0" class="search_results_top">
    <em style="margin-left: 1%">Displaying {{(page*6)-6 + 1}} to {{upperPageNumber()}} out of {{count}}</em>
    <span class="glyphicon glyphicon-remove" (click)="onClose()"></span>
  </div>
  <div *ngIf="count === 0" class="search_results_top">
    <em style="margin-left: 1%">No results found</em>
  </div>
  <div class="search-results">
    <ul class="list-group" style="list-style-type: none">
      <li type="button" class="list-group-item" *ngFor="let result of results"
              (click) = "selectedSample = result"
              [class.selected]="result === selectedSample"
              [routerLink]="['/sample', result.sample]"
              [innerHtml]="regexBold(result.sample)">
      </li>
      <li>
        <ul class="paginated">
          <li *ngIf="results && page > 1"
              class="glyphicon glyphicon-chevron-left"
              (click)="pageNumberPrev()"
          >
          </li>
          <li *ngFor="let num of pageNumbers()" (click)="pageNumberOnClick(num)"
              class="page_num" [class.curr_page_num]="num === page">{{ num }}</li>
          <li *ngIf="results && (page + 1) * 6 < count"
              class="glyphicon glyphicon-chevron-right"
              (click)="pageNumberNext()"
              ></li>
        </ul>
      </li>
    </ul>
  </div>
  <!--
  <div *ngIf="count > 0" class="selected_results">
    <ul class="list-group">
      <li class="list-group-item-heading" style="margin-left: 2%"><em>Selected Results</em></li>
      <li class="list-group-item" *ngFor="let selected_sample of selected_samples">{{selected_sample}}</li>
    </ul>
  </div>-->
</div>
