#sidenav {
  margin: 0;
  height: 100%;
  width: 28%;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #989898; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
}

.search_results_top {
  padding: 1.5%;
}

.paginated {
  margin-top: 0%;
  list-style-type: none;
  background-color: #D3D3D3;
}

.page_num {
  margin-left: 4%;
  margin-right: 4%;
  display: inline;
  cursor: pointer;
}

.page_num:hover {
  text-decoration: underline;
}

.glyphicon {
  font-size: smaller;
  cursor: pointer;
}

.curr_page_num {
  font-weight: bold;
}


span {
  cursor: pointer;
  font-size: smaller;
  vertical-align: middle;
  float: right;
  margin-top: 0.7%;
}

button {
  outline: none;
}

.list-group-item {
  cursor: pointer;
  outline: none;
}

.list-group-item:hover {
  background-color: lightgray;
}

.list-group-item.selected {
  background-color: lightskyblue;
}
