<div *ngIf="!sample" class="jumbotron text-center">
  <h1>ChIP-DB</h1>
  <p>The Reddy Lab's database for ChIP-seq data and QC's</p>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>
      Validate Your Samples
    </h3>
    <p>Enter your sample above. Search for previous ChIP-seq experiments for comparison and validation.</p>
  </div>
  <div class="col-md-6">
    <h3>
      Additional QC Data
    </h3>
    <p>The app includes added "fingerprint" data from
      <a href="http://deeptools.readthedocs.io/en/latest/content/tools/plotFingerprint.html">deepTools</a>,
      a suite of QC tools for validating your ChIP experiments. Fingerprint data indicates how well a sample was
      enriched from antibody-treatment via graphs and unique QC metrics.
    </p>
  </div>
</div>

