<div class="container-fluid home_body" [@enter_state]>
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h1 style="font-size: 500%">
      Welcome to ChIP DB
    </h1>
    <p class="lead" style="font-size: 200%">
      The Reddy Lab's database for ChIP-seq quality control and validation
    </p>
    <br>
    <p class="lead" style="font-size: 200%">
      Click the search bar and type "GR" to begin viewing samples.
    </p>
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    <img class="img-responsive" src="../../../assets/ChIP_DB_Page_Art.png"/>
  </div>
</div>
</div>

