.navbar-default {
  padding-left: 3%;
  padding-right: 3%;
  max-height: 120%;
  margin-bottom: 0px;
}

.navbar-form .navbar-left {
  display: inline-block;
  vertical-align: middle;
}

.navbar-collapse {
  max-height: 120%;
}


.navbar-brand {
  height: 100%;
  width: auto;
}

#search_box {
  height: 40px;
}

.li {
  margin: 15px;
}

.nav .nav-pills {
  margin-top: 5px;
}

a {
  font-size: large;
}
