div {
  margin: 2%;
}
iframe#spp {
  height: 425px;
  width: 35%;
  align-content: center;
  float: left;
}

.table {
  width: 25%;
  float: left;
}

#graph {
  height: 30%;
  width: 30%;
}


.warning-color {
  background-color: #FFFFCC;
}

.danger-color {
  background-color: #FFCCCC;
}

.success-color {
  background-color: #D0F0C0;
}
