<div class="page-header">
  <h2>{{sample?.sample}}</h2>
</div>
<div id="data" class="container-fluid" *ngIf="sample" [@enterSample]>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered">
        <caption>ENCODE Metrics</caption>
        <thead>
        <tr>
          <th>PBC</th>
          <th>NRF</th>
          <th>NSC</th>
          <th>RSC</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td [class.warning-color]="sample?.pbc_one < 0.9 && sample?.pbc_one > 0.8"
              [class.danger-color]="sample?.pbc_one < 0.8">
            {{sample?.pbc_one | numbers}}
          </td>
          <td [class.warning-color]="sample?.nrf < 0.9 && sample?.nrf">{{sample?.nrf | numbers}}</td>
          <td [class.warning-color]="sample?.nsc < 1.1">{{sample?.nsc | numbers}}</td>
          <td [class.warning-color]="sample?.rsc < 0.8">{{sample?.rsc | numbers}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  <div class="col-md-4">
    <table class="table table-bordered">
      <caption>CWL Metrics</caption>
      <thead>
      <tr>
        <th>Raw Reads</th>
        <th>Mapped Reads</th>
        <th>Reads in Peaks</th>
        <th>% Reads in Peaks</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{sample?.reads_sequenced | numbers }}</td>
        <td>{{sample?.reads_mapped | numbers}}</td>
        <td>{{sample?.reads_in_peaks | numbers}}</td>
        <td [class.success-color]="sample?.percent_in_peaks > 1" [class.warning-color]="sample?.percent_in_peaks < 1">
          {{sample?.percent_in_peaks | numbers}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

    <iframe id="spp" [src]="spp_pdfURL()"></iframe>





  <!--
  <div class="row">
    <div class="col-md-6">
      <div style="display: block">
        <canvas baseChart [datasets]="data"
                          [labels]="labels"
                          [options]="options"
                          [legend]="true"
                          [chartType]="setting"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
  -->
</div>

